<div class="layui-side my-side">
        <div class="layui-side-scroll">
            <!-- 左侧主菜单添加选项卡监听 -->
            <ul class="layui-nav layui-nav-tree" lay-filter="side-main">
               <li class="layui-nav-item  layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon">&#xe620;</i>基础样式参考</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="/demo/btn"><i class="layui-icon">&#xe621;</i>按钮</a></dd>
                        <dd><a href="javascript:;" href-url="/demo/form"><i class="layui-icon">&#xe621;</i>表单</a></dd>
                        <dd><a href="javascript:;" href-url="/demo/table"><i class="layui-icon">&#xe621;</i>表格</a></dd>
                        <dd><a href="javascript:;" href-url="/demo/tab_card"><i class="layui-icon">&#xe621;</i>选项卡</a></dd>
                        <dd><a href="javascript:;" href-url="/demo/progress_bar"><i class="layui-icon">&#xe621;</i>进度条</a></dd>
                        <dd><a href="javascript:;" href-url="/demo/folding_panel"><i class="layui-icon">&#xe621;</i>折叠面板</a></dd>
                        <dd><a href="javascript:;" href-url="/demo/auxiliar"><i class="layui-icon">&#xe621;</i>辅助元素</a></dd>
                        <dd><a href="javascript:;" href-url="/demo/add_edit"><i class="layui-icon">&#xe621;</i>添加-修改</a></dd>
                        <dd><a href="javascript:;" href-url="/demo/data_table"><i class="layui-icon">&#xe621;</i>data-table 表格页</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>菜单管理</a>
                    <dl class="layui-nav-child">

                    </dl>
                </li>
            </ul>

        </div>
    </div>